.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card {
  height: 240px;
  width: 210px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 24px;
}

.card img {
  width: 150px;
}

.card p {
  color: grey;
}
